<div class='sidebar col-md-4 col-sm-4'>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Recent</a></li>
    <li><a href="##">Popular</a></li>
    <li><a href="###">Tags</a></li>
  </ul>
</div>

<%= render 'post' %>


